.break_timer{
    font-size: 3em;
}

.break_time{
    font-size: 4em;
}

.break_time_button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5ps;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.break_time_button:hover {
    background-color: #45a049;
}

.break_time_button:active {
    background-color: #3e8e41;
}

.stop_button {
    background-color: #f44336;
}

.stop_button:hover {
    background-color: #e53935;
}

.stop_button:active {
    background-color: #d32f2f;
}

.active_background {
    background-color: #ffeb3b;
}

.reset_button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5ps;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal_button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.modal_button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .modal_content {
      width: 90%; /* モーダルの幅を90%に設定 */
      padding: 10px; /* パディングを調整 */
    }
  
    .modal_button {
        flex-direction: column;
        align-items: center;
        align-items: stretch;
    }
  
    .modal_buttons {
      width: 100%; 
      margin: 10px 0;
    }
    
    .break_timer {
        font-size: 1.5em; /* フォントサイズを調整 */
        text-align: center; /* テキストを中央揃え */
    }
    
    .break_time {
        font-size: 1.2em; /* フォントサイズを調整 */
        text-align: center; /* テキストを中央揃え */
        margin-bottom: 20px; /* 下にスペースを追加 */
    }

    .buttons_container {
        display: flex;
        flex-direction: column; /* ボタンを縦に並べる */
        align-items: center; /* ボタンを中央に配置 */
    }

    .break_time_button,.reset_button {
        width: 80%;
        margin: 10px 0;
    }
  }